.tableContainer {
  display: flex;
  justify-content: center;
}

.trTable {
  table-layout: fixed;
  width: 80%;
}

.trTableHead {
  background-color: black;
  color: white;
}

.trTableHeadRow {
  padding: 8px 0;
}

.trTableRow,
.trTableColumn {
  padding: 8px 0;
  border: 1px solid black;
  width: calc(100% / 3);
}

.trTableRow:nth-child(even) {
  background-color: lightgray;
}