.tableContainer {
  display: flex;
  justify-content: center;
}

.trTable {
  table-layout: fixed;
  width: 80%;
  border: 2px solid black;
  border-collapse: collapse;
}

.trTableHead {
  background-color: #2a2a2a;
  color: white;
  border: 2px solid black;
}

.trTableHeadRow {
  padding: 8px 0;
  border: 2px solid black;
}

th {
  padding: 8px 0;
  border: 2px solid black;
}

.trTableRow,
.trTableColumn {
  padding: 8px 0;
  border: 2px solid black;
  width: calc(100% / 3);
}

.trTableRow:nth-child(even) {
  background-color: lightgray;
}